ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-password
SESSION_SECRET=change-this-session-secret
SESSION_COOKIE_SECURE=false
HOST=127.0.0.1
PORT=3000
DATABASE_PATH=./data/my-home.sqlite
TRUST_PROXY=false
LOGIN_MAX_FAILED_ATTEMPTS=5
LOGIN_WINDOW_MS=900000
LOGIN_LOCKOUT_MS=900000
